[submodule ".registry"]
	path = .registry
	url = https://github.com/ictml-project/ictml-project.r-universe.dev
	branch = HEAD
[submodule "delayed"]
	path = delayed
	url = https://github.com/tlverse/delayed
	registered = false
[submodule "hal9001"]
	path = hal9001
	url = https://github.com/tlverse/hal9001
	registered = false
[submodule "haldensify"]
	path = haldensify
	url = https://github.com/nhejazi/haldensify
	registered = false
[submodule "longbowtools"]
	path = longbowtools
	url = https://github.com/tlverse/longbowtools
	registered = false
[submodule "medoutcon"]
	path = medoutcon
	url = https://github.com/nhejazi/medoutcon
[submodule "medshift"]
	path = medshift
	url = https://github.com/nhejazi/medshift
[submodule "origami"]
	path = origami
	url = https://github.com/tlverse/origami
	registered = false
[submodule "rtemis"]
	path = rtemis
	url = https://github.com/egenn/rtemis
[submodule "rtemisbio"]
	path = rtemisbio
	url = https://github.com/egenn/rtemisbio
[submodule "skimr"]
	path = skimr
	url = https://github.com/jeremyrcoyle/skimr
	branch = vector_types
	registered = false
[submodule "sl3"]
	path = sl3
	url = https://github.com/tlverse/sl3
[submodule "tlverse"]
	path = tlverse
	url = https://github.com/tlverse/tlverse
[submodule "tml3"]
	path = tml3
	url = https://github.com/tlverse/tml3
[submodule "tmle3"]
	path = tmle3
	url = https://github.com/tlverse/tmle3
	registered = false
[submodule "tmle3mediate"]
	path = tmle3mediate
	url = https://github.com/tlverse/tmle3mediate
[submodule "tmle3mopttx"]
	path = tmle3mopttx
	url = https://github.com/tlverse/tmle3mopttx
[submodule "tmle3shift"]
	path = tmle3shift
	url = https://github.com/tlverse/tmle3shift
