[submodule ".registry"]
	path = .registry
	url = https://github.com/ictml-project/ictml-project.r-universe.dev
	branch = HEAD
[submodule "ictml"]
	path = ictml
	url = https://github.com/ictml-project/ictml
[submodule "medoutcon"]
	path = medoutcon
	url = https://github.com/nhejazi/medoutcon
[submodule "medshift"]
	path = medshift
	url = https://github.com/nhejazi/medshift
[submodule "rtemis"]
	path = rtemis
	url = https://github.com/rtemis-org/rtemis
[submodule "rtemis.bio"]
	path = rtemis.bio
	url = https://github.com/rtemis-org/rtemis.bio
[submodule "sl3"]
	path = sl3
	url = https://github.com/tlverse/sl3
[submodule "tlverse"]
	path = tlverse
	url = https://github.com/tlverse/tlverse
[submodule "tmle3"]
	path = tmle3
	url = https://github.com/tlverse/tmle3
[submodule "tmle3mediate"]
	path = tmle3mediate
	url = https://github.com/tlverse/tmle3mediate
[submodule "tmle3mopttx"]
	path = tmle3mopttx
	url = https://github.com/tlverse/tmle3mopttx
[submodule "tmle3shift"]
	path = tmle3shift
	url = https://github.com/tlverse/tmle3shift
